@keyframes fade-in-top-navbar {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-top-navbar {
    animation: fade-in-top 0.3s ease-in-out;
  }
  